{{define "grid-triads"}}
<div class="box">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-8">
      <div class="tile is-child">
        <h3 class="title">Triads</h3>
        <h5 class="subtitle">Here we will elicit constructs using triad method</h5>
      </div>
    </div>
    <div class="tile is-parent is-4">
      <div class="tile is-child">
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Готово</p>
              <p class="title">{{ .CurrentTriadID }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Минимум</p>
              <p class="title">{{ .Grid.Config.MinConstructs }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Максимум</p>
              <p class="title">{{ len .Grid.Triads }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <p class="is-size-4">Из элементов слева выберите один который отличается от двух других</p>
  </div>
  <div class="block">
    <progress class="progress {{if lt .CurrentTriadID .Grid.Config.MinConstructs }}is-danger{{else}}is-success{{end}}"
      value="{{ .CurrentTriadID }}" max="{{ len .Grid.Triads }}">90%</progress>
  </div>


  {{ range $i, $triad := .Grid.Triads }}
  {{ if eq $.CurrentTriadID $i }}
  <form id="triad-form-{{$i}}" class="block" live-value-triadid={{$i}} live-change="updateTriad"
    live-submit="nextTriad">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-6">
        <div class="tile is-child notification is-link">
          {{ range $j, $term := $triad.LeftTerms }}
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <p class="title is-4"><b>{{ $term.Title }}</b></p>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <button live-click="moveTerm" type="button" live-value-triadid={{$i}} live-value-termid={{$j}}
                  live-value-from="left" class="button is-dark is-rounded level-item" {{ if le (len $triad.LeftTerms) 2
                  }}disabled{{end}}>
                  <span class="icon">
                    <i class="bi bi-arrow-right"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>

      <div class="tile is-parent is-6">
        <div class="tile is-child notification is-danger">
          {{ range $j, $term := $triad.RightTerms }}
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <button live-click="moveTerm" type="button" live-value-triadid={{$i}} live-value-termid={{$j}}
                  live-value-from="right" class="button is-dark is-rounded">
                  <span class="icon">
                    <i class="bi bi-arrow-left"></i>
                  </span>
                </button>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="title is-4"><b>{{ $term.Title }}</b></p>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>


    {{ if ne $triad.Step "init" }}
    <div class="tile is-ancestor">
      <div class="tile is-parent is-6">
        <div class="tile is-child">
          <div class="field">
            <label class="label">Что общего у двух элементов слева (на синем поле)? Какое общее качество их
              объединяет?</label>
            <div class="control">
              <input autocomplete="off" live-debounce="{{$.FormFieldDebounce}}" live-value-triadid={{$i}}
                name="leftPole" class="input is-link" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-6">
        <div class="tile is-child">
          <div class="field">
            <label class="label">Чем третий элемент (на красном поле) отличается от двух других? Какое качество его
              выделяет?</label>
            <div class="control">
              <input autocomplete="off" live-debounce="{{$.FormFieldDebounce}}" live-value-triadid={{$i}}
                name="rightPole" class="input is-danger" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="level">
      <div class="level-left">
        <div class="level-item">
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button {{ if ne $triad.Step "ready" }}disabled{{end}} type="submit" type="button" live-value-triadid={{$i}}
            class="button is-link is-large">
            Следующая триада
          </button>
        </div>
      </div>
    </div>
  </form>
  {{ end }}
  {{ end }}

  <div class="level">
    <div class="level-item has-text-centered">
      <div class="block">
        <button class="button is-large is-success" live-click="generateConstructs" {{if lt .CurrentTriadID
          .Grid.Config.MinConstructs }}disabled{{ end }}>Continue</button>
        {{ if (lt (len .Grid.Terms) .Grid.Config.MinTerms) }}
        <p class="help is-size-6 is-link">Min number of terms is {{ .Grid.Config.MinTerms }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{end}}