{{ define "title" }} Grid {{ end }}
{{ define "view" }}

<main>
  <h1 class="title is-1">Grid page</h1>
  <div class="box">
    <h3 class="subtitle">Debug info</h3>
    <p><b>session:</b><span>{{ .Session }}</span></p>
    <p><b>Min terms</b> {{ .Grid.Config.MinTerms }}</p>
    <p><b>Max terms</b> {{ .Grid.Config.MaxTerms }}</p>
    <p><b>TermsN</b> {{ .Grid.TermsN }}</p>
    <p>{{ .Grid.Terms }}</p>
  </div>

  <div class="box">
    <div class="tags are-large">
      {{ range $i, $_ := N .Grid.TermsN }}
      <span class="tag is-link">
        <span id="gridTerm_{{$i}}">
          <b>{{ (index $.Grid.Terms $i).Title }}</b>
        </span>
        <button live-value-termID="{{$i}}" live-click="removeTerm" type="button" class="delete" id="remove-term-button">
          <i class="bi-trash"></i>
        </button>
      </span>
      {{ end }}
    </div>
    <form id="add-term-form" live-submit="addTerm" live-hook="addTermHook">
      {{ if .AddTermError }}
      <div class="notification is-warning level">
        <span><strong>{{ .AddTermError | Title }}</strong></span>
        <i class="bi-exclamation-triangle-fill" style="font-size: 1.5rem;"></i>
      </div>
      {{ end }}
      <div class="field">
        <input class="input" placeholder="Enter term..." autocomplete="off" name="term" type="text">
      </div>
      <div>
        <button type="submit" class="button is-success is-medium">Add term</button>
      </div>
    </form>
  </div>
</main>

<script>
  window.Hooks = {
    "addTermHook": {
      mounted: function () {
        this.el.addEventListener("submit", () => {
          this.el.querySelector("input").value = "";
        });
      }
    }
  };
</script>

{{ end }}